{% extends "base.html" %}

{% block header %}
   <script>AUTOBAHN_DEBUG = false;</script>
   <script src="/static/autobahn.min.js"></script>
{% endblock %}

{% block content %}
   <h1>Visitors Live Monitor</h1>

   <div id="visits">???</div>

   <script>
      // the URL of the WAMP Router (Crossbar.io)
      //
      var wsuri = "ws://127.0.0.1:9000";
      var visits = document.getElementById("visits");

      // the WAMP connection to the Router
      //
      var connection = new autobahn.Connection({
         url: wsuri,
         realm: "realm1"
      });

      // fired when connection is established and session attached
      //
      connection.onopen = function (session, details) {

         console.log("Connected");

         session.subscribe('com.example.on_visit', function (args) {
            visits.innerHTML = args[0];
         });

         session.call('com.example.get_visits').then(
            function (res) {
               visits.innerHTML = res;
            },
            function (err) {
               console.log(err);
            }
         );
      };


      // fired when connection was lost (or could not be established)
      //
      connection.onclose = function (reason, details) {
         console.log("Connection lost: " + reason);
      }

      // now actually open the connection
      //
      connection.open();

   </script>

{% endblock %}

