<!DOCTYPE html>
<html>
   <body>
      <h1>Hello WAMP</h1>
      <p>Open JavaScript console to watch output.</p>

      <!-- Adobe Flash implementation of WebSocket: https://github.com/gimite/web-socket-js -->
      <script>
         WEB_SOCKET_SWF_LOCATION = "WebSocketMain.swf";
         WEB_SOCKET_FORCE_FLASH = true;
         WEB_SOCKET_DEBUG = true;
      </script>
      <script src="swfobject.js"></script>
      <script src="web_socket.js"></script>

      <!-- AutobahnJS -->
      <script>
         AUTOBAHN_DEBUG = false;
      </script>
      <script src="autobahn.min.js"></script>

      <script>
         // the URL of the WAMP Router (Crossbar.io)
         //
         var wsuri;
         if (document.location.origin == "file://") {
            wsuri = "ws://127.0.0.1:8080/ws";

         } else {
            wsuri = (document.location.protocol === "http:" ? "ws:" : "wss:") + "//" +
                        document.location.host + "/ws";
         }


         // the WAMP connection to the Router
         //
         var connection = new autobahn.Connection({
            url: wsuri,
            realm: "realm1"
         });


         // fired when connection is established and session attached
         //
         connection.onopen = function (session, details) {

            console.log("Connected");

            // SUBSCRIBE to a topic and receive events
            //
            function oncounter (args) {
               var counter = args[0];
               var value = args[1];
               console.log("'com.example.oncounter' event received:", counter, value);
            }
            session.subscribe('com.example.oncounter', oncounter).then(
               function (sub) {
                  console.log('subscribed to topic');
               },
               function (err) {
                  console.log('failed to subscribe to topic', err);
               }
            );


            // PUBLISH an event every second
            //           
            counter = 0;
            setInterval(function () {
               counter += 1;
               var value = Math.random();
               session.publish('com.example.oncounter', [counter, value]);
               console.log("published to topic 'com.example.oncounter'", counter, value);
            }, 1000);
         };


         // fired when connection was lost (or could not be established)
         //
         connection.onclose = function (reason, details) {
            console.log("Connection lost: " + reason);
         }


         // now actually open the connection
         //
         connection.open();
      </script>
   </body>
</html>
