[run]
omit =
     crossbar/worker/test/examples/syntaxerror.py
     */test/*.py
branch = True
source = crossbar
parallel = True

[paths]
source=
   crossbar
   .tox/*/lib/python*/site-packages/crossbar
   .tox/*/lib/site-packages/crossbar
   .tox/pypy*/site-packages/crossbar

[report]
precision = 2
exclude_lines =
    def __repr__
    raise AssertionError
    pragma: no cover
    if self\._debug
    raise NotImplementedError
