*.pyc
*.pyo
*.dat
*.sublime-workspace
*.sublime-project
build
dist
.coverage
htmlcov/
*.egg-info
*.log
*.pid
dropin.cache
crossbardata
.sconsign.dblite
*.~vsd
node_modules
.idea
_trial_temp
*~
dist
build
*.egg-info
*.db
*.zip
*.egg
/.crossbar
_trial_temp
node_modules
.tox
