include README.rst
include crossbar/LICENSE
include crossbar/LICENSES-OSS
include requirements.txt
include requirements-min.txt
include requirements-latest.txt
include requirements-pinned.txt
include requirements-dev.txt
recursive-include crossbar/common/keys *
recursive-include crossbar/node/templates *
recursive-include crossbar/webservice/templates *
recursive-include crossbar/adapter/mqtt/test/certs *
recursive-include crossbar/edge/webservice/templates *
recursive-include crossbar/edge/node/config *
recursive-include crossbar/master/webservice/templates *
recursive-include crossbar/master/node *.json
recursive-include crossbar/network/node *.json
recursive-include crossbar/test *
