include README.rst
include crossbar/LICENSE
include crossbar/LICENSES-OSS
include requirements.txt
include requirements-min.txt
include requirements-latest.txt
include requirements-pinned.txt
include requirements-dev.txt
# Note: src layout - paths relative to src/ for package data
recursive-include src/crossbar/common/keys *
recursive-include src/crossbar/node/templates *
recursive-include src/crossbar/webservice/templates *
recursive-include src/crossbar/adapter/mqtt/test/certs *
recursive-include src/crossbar/edge/webservice/templates *
recursive-include src/crossbar/edge/node/config *
recursive-include src/crossbar/master/webservice/templates *
recursive-include src/crossbar/master/node *.json
recursive-include src/crossbar/network/node *.json
recursive-include src/crossbar/test *
