attrs>=17.2.0
git+https://github.com/crossbario/autobahn-python.git@master#egg=autobahn[asyncio,twisted,encryption,compress,serialization,scram]
bitstring>=3.1.5
cbor>=1.0.0
click>=6.7
constantly>=15.1.0
cryptography>=1.9
h2>=3.0,<4.0
idna<2.6,>=2.5
incremental>=17.5.0
jinja2>=2.9.6
lmdb>=0.92
mistune>=0.7.4
netaddr>=0.7.19
passlib>=1.7.1
priority>=1.3.0
psutil>=5.2.2
py-ubjson>=0.9.0
pyasn1-modules>=0.0.9
pyasn1>=0.2.3
pygments>=2.2.0
pynacl>=1.1.2
pyopenssl>=17.1.0
pyqrcode>=1.2.1
pytrie>=0.3
pyyaml>=4.2b4
sdnotify>=0.3.1
service_identity>=17.0.0
setproctitle>=1.1.10
setuptools>=36.2.7
treq>=17.3.1
twisted>=18.9.0
git+https://github.com/crossbario/txaio.git@master#egg=txaio
txtorcon>=0.19.3
u-msgpack-python>=2.4.1
vmprof>=0.4.12; platform_machine=='x86_64' or platform_machine=='i386' or platform_machine=='arm'
watchdog>=0.8.3
wsaccel>=0.6.2; platform_python_implementation=='CPython'
git+https://github.com/crossbario/zlmdb.git@master#egg=zlmdb
zope.interface>=4.4.2
