attrs>=22.2.0
autobahn[twisted,encryption,compress,serialization,scram,xbr] @ git+https://github.com/crossbario/autobahn-python.git@master#egg=autobahn
base58>=2.1.1
bcrypt>=4.0.1
bitstring>=4.0.1
cbor2>=5.4.6
cfxdb @ git+https://github.com/crossbario/cfxdb.git@master#egg=cfxdb
click>=8.1.3
colorama>=0.4.6
constantly>=15.1.0
cookiecutter>=2.1.1
cryptography>=39.0.0
docker>=6.0.1
# required for python 3.11+ https://github.com/ethereum/eth-abi/pull/194
eth-abi>=4.0.0
# required for python 3.11+ (https://github.com/ethereum/eth-account/pull/212)
eth-account @ git+https://github.com/crossbario/eth-account.git@fix-215#egg=eth-account
eth-typing @ git+https://github.com/ethereum/eth-typing.git@v3.2.0#egg=eth-typing
flask>=2.2.2
py-cid @ git+https://github.com/crossbario/py-cid.git@remove-dep-upper-limits#egg=py-cid
py-multihash @ git+https://github.com/crossbario/py-multihash.git@remove-dep-version-limits#egg=py-multihash
# FIXME: twisted/http2 needs <4 => h2>=4.1.0
h2>=3.2.0,<4.0.0
hexbytes>=0.3.0
humanize>=4.4.0
# FIXME: twisted/http2 needs <6.0.0 => hyperframe>=6.0.1
hyperframe>=5.2.0,<6.0.0
# FIXME: idna>=3.4
idna<2.6,>=2.5
importlib-resources>=5.10.2
incremental>=22.10.0
iso8601>=1.1.0
jinja2-highlight>=0.6.1
jinja2>=3.1.2
jsonschema>=4.0.0
lmdb>=1.4.0
MarkupSafe>=2.1.2
mistune>=2.0.4
morphys>=1.0
netaddr>=0.8.0
numpy>=1.24.1
# python 3.10+ requires >=0.9.0 ("ImportError: cannot import name 'getargspec' from 'inspect'")
# FIXME: eth-abi requires <0.10.0 (https://github.com/ethereum/eth-abi/pull/194)
parsimonious>=0.9.0,<0.10.0
passlib>=1.7.4
# FIXME: twisted/http2 needs <2 => priority>=2.0.0
priority>=1.3.0,<2.0
prompt-toolkit>=3.0.36
psutil>=5.9.4
py-eth-sig-utils>=0.4.0
py-ubjson>=0.16.1
pyasn1-modules>=0.2.8
pyasn1>=0.4.8
pycryptodome>=3.16.0
pygments>=2.14.0
pynacl>=1.5.0
pyopenssl>=23.0.0
pyqrcode>=1.2.1
pytrie>=0.4.0
pyyaml>=6.0
requests>=2.28.2
sdnotify>=0.3.2
service-identity>=21.1.0
setproctitle>=1.3.2
setuptools>=67.2.0
six>=1.16.0
sortedcontainers>=2.4.0
stringcase>=1.2.0
tabulate>=0.9.0
treq>=22.2.0
twisted[tls,conch,http2,osx_platform]>=22.10.0; sys_platform == 'darwin'
twisted[tls,conch,http2,windows_platform]>=22.10.0; sys_platform == 'win32'
twisted[tls,conch,http2]>=22.10.0; sys_platform != 'darwin' and sys_platform != 'win32'
txaio @ git+https://github.com/crossbario/txaio.git@master#egg=txaio
txtorcon>=22.0.0
u-msgpack-python>=2.7.2
ujson>=5.7.0
urllib3>=1.26.14,<1.27
validate-email>=1.3
watchdog>=2.2.1
# FIXME: web3 5.31.3 depends on eth-abi<3.0.0 and >=2.2.0
# FIXME: pip runs into a conflict with autobahn[xbr] even though we use _exactly_ the same web3!!
# web3[ipfs] @ git+https://github.com/ethereum/web3.py.git@v6.0.0-beta.9#egg=web3
werkzeug>=2.2.2
wsaccel>=0.6.4; platform_python_implementation=='CPython'
xbr>=21.2.1
zlmdb @ git+https://github.com/crossbario/zlmdb.git@master#egg=zlmdb
zope.interface>=5.5.2
