attrs>=17.2.0
git+https://github.com/crossbario/autobahn-python.git@master#egg=autobahn[twisted,encryption,compress,serialization,scram,xbr]
base58>=2.1.0
bcrypt>=3.1.6
bitstring>=3.1.5
cbor2>=5.2.0
git+https://github.com/crossbario/cfxdb.git@master#egg=cfxdb
click>=7.0
colorama>=0.4.3
constantly>=15.1.0
cookiecutter>=1.6.0
cryptography>=2.6.1
docker>=3.5.0
eth-account>=0.5.4
eth-typing>=2.2.2
flask>=1.1.1
git+https://github.com/crossbario/py-cid.git@remove-dep-upper-limits#egg=py-cid
git+https://github.com/crossbario/py-multihash.git@remove-dep-version-limits#egg=py-multihash
# twisted/http2 needs <4:
h2>=3.2.0,<4.0.0
hexbytes>=0.2.1
humanize>=0.5.1
# twisted/http2 needs <6.0.0:
hyperframe>=5.2.0,<6.0.0
idna<2.6,>=2.5
importlib-resources>=4.1.1
incremental>=17.5.0
iso8601>=0.1.12
jinja2_highlight>=0.6.1
jinja2>=2.10.1
lmdb>=1.1.1
# ImportError: cannot import name 'soft_unicode' from 'markupsafe'
MarkupSafe>=1.1.1,<2
mistune>=0.8.4
morphys>=1.0
netaddr>=0.8.0
numpy>=1.20.0
parsimonious>=0.8.1
passlib>=1.7.1
# twisted/http2 needs <2:
priority>=1.3.0,<2.0
prompt-toolkit>=2.0.10
psutil>=5.8.0
py-eth-sig-utils>=0.4.0
py-ubjson>=0.9.0
pyasn1-modules>=0.2.4
pyasn1>=0.4.5
pycryptodome>=3.7.1
pygments>=2.2.0
pynacl>=1.1.2
pyopenssl>=17.1.0
pyqrcode>=1.2.1
pytrie>=0.3
pyyaml>=4.2b4
requests>=2.20.0
sdnotify>=0.3.1
service_identity>=17.0.0
setproctitle>=1.1.10
setuptools>=36.2.7
six>=1.13.0
sortedcontainers>=2.4.0
stringcase>=1.2.0
tabulate>=0.7.7
treq>=20.4.1
twisted[tls,conch,http2,osx_platform]>=20.3.0; sys_platform == 'darwin'
twisted[tls,conch,http2,windows_platform]>=20.3.0; sys_platform == 'win32'
twisted[tls,conch,http2]>=20.3.0; sys_platform != 'darwin' and sys_platform != 'win32'
git+https://github.com/crossbario/txaio.git@master#egg=txaio
txtorcon>=20.0.0
u-msgpack-python>=2.4.1
urllib3>=1.21.1,<1.27
validate-email>=1.3
vmprof>=0.4.15
watchdog>=0.8.3
web3>=5.13.1
# ImportError: cannot import name 'escape' from 'werkzeug.utils'
werkzeug>=0.14.1,<2
wsaccel>=0.6.2; platform_python_implementation=='CPython'
xbr>=21.2.1
git+https://github.com/crossbario/zlmdb.git@master#egg=zlmdb
zope.interface>=4.4.2
