# docs
sphinx>=4.5.0
sphinxcontrib-images>=0.9.4
sphinx-rtd-theme>=1.0.0
sphinxcontrib-spelling>=7.3.2
pygments>=2.11.2
pyenchant>=3.2.2
pip-licenses>=3.5.3
pandoc>=2.1
nbsphinx>=0.8.8
sphinx-autodoc-typehints>=1.17.0
# jinja2>=2.10.1
# jinja2-highlight>=0.6.1
humanize>=4.0.0

# https://github.com/crossbario/crossbar/pull/1943#issuecomment-1037569885
pip>=22.0.3

tox
# detox # detox is unmaintained and incompatible with tox > 3.6
mock
pytest<4
# py-evm
# git+https://github.com/ethereum/py-evm.git@master#egg=py-evm
# eth-tester
# py-solc

# functests
tap.py
pytest-tap
pytest-cov
pytest-twisted

# check
flake8
autopep8
yapf==0.29.0

# this shit SUCKS BIG time. fed up
# https://github.com/pywbem/pywbem/issues/1371
# coverage

pylint
mypy; platform_python_implementation != 'PyPy'
bandit

# build
wheel
twine
hashin

pyinstaller==4.2
docker-compose>=1.29.0
awscli>=1.19.84
