# docs
sphinx==2.4.4
sphinxcontrib-images==0.9.1
sphinx-rtd-theme>=0.4.2
sphinxcontrib-spelling>=4.2.0
# pygments
pyenchant
pip-licenses
pandoc
nbsphinx
sphinx-autodoc-typehints
# jinja2>=2.10.1
# jinja2-highlight>=0.6.1
humanize

# https://github.com/crossbario/crossbar/pull/1943#issuecomment-1037569885
pip>=22.0.3

tox
# detox # detox is unmaintained and incompatible with tox > 3.6
mock
pytest<4
# py-evm
# git+https://github.com/ethereum/py-evm.git@master#egg=py-evm
# eth-tester
# py-solc

# functests
tap.py
pytest-tap
pytest-cov
pytest-twisted

# check
flake8
autopep8
yapf==0.29.0

# this shit SUCKS BIG time. fed up
# https://github.com/pywbem/pywbem/issues/1371
# coverage

pylint
mypy; platform_python_implementation != 'PyPy'
bandit

# build
wheel
twine
hashin

pyinstaller==4.2
docker-compose>=1.29.0
awscli
