<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
   </head>
   <body>
      <h1>WAMP Longpoll Transport Example</h1>
      <p>Open JavaScript console to watch output.</p>
      <button onclick="open_session()">Open Session</button>
      <button onclick="close_session()">Close Session</button>
      <script>AUTOBAHN_DEBUG = false;</script>
      <script src="autobahn.min.js"></script>
      <script>
         console.log("Running on AutobahnJS", autobahn.version);

         var connection = new autobahn.Connection({
            transports: [
               {
                  'type': 'websocket',
                  'url': 'ws://' + document.location.host + '/ws',
               },
               {
                  'type': 'longpoll',
                  'url': 'http://' + document.location.host + '/lp',
               }
            ],
            realm: 'realm1'
         });

         var close_session;

         // fired when connection is established and session attached
         //
         connection.onopen = function (session, details) {

            console.log("Connected: " + JSON.stringify(connection.transport.info));

            close_session = function () {
               session.leave();
               //session.leave("wamp.close.normal", "I am fed up!!");
            }

            // SUBSCRIBE to a topic and receive events
            //
            function on_counter (args) {
               var counter = args[0];
               console.log("on_counter() event received with counter " + counter);
            }

            session.subscribe('com.example.oncounter', on_counter).then(
               function (sub) {
                  console.log('subscribed to topic');
               },
               function (err) {
                  console.log('failed to subscribe to topic', err);
               }
            );            

         };


         // fired when connection was lost (or could not be established)
         //
         connection.onclose = function (reason, details) {
            console.log("Connection gone: " + reason + " (" + JSON.stringify(details) + ")");

            // return true to stop retrying ..
            //return true;
         }


         // open the connection
         //
         function open_session() {
            connection.open();
         }
      </script>
   </body>
</html>
