/* custom CSS to include in generated pages */

.wy-nav-content {
    max-width: 1200px;
}

.wy-nav-side {
    position: fixed;
}

.wy-side-nav-search {
    background-color: #333333;
}

.wy-side-nav-search>a img.logo {
    width: 160px;
}

.rdftriple {
    width: 100%;
    max-width: 600px;
}
