{% extends "cb_base.html" %}

{% block content %}

   <p>
      This is a <b>WAMP-over-LongPoll</b> transport endpoint on your <a href="https://crossbar.io">Crossbar.io</a> server.

      Applications talk to me speaking the <b>WAMP-over-LongPoll</b> protocol.
   </p>
   <p>
      If you are a human, this is likely not what you want to do;) Try <a href="/">here</a> instead.
   </p>
   <br>
   <center style="font-size: 12px;">
      Served for {{ peer }} from Crossbar.io node worker with PID {{ workerPid }}.
   </center>
   <br>

{% endblock %}
