<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <link rel="shortcut icon" href="img/favicon.ico">
   <title>Vote Backend</title>

   <link rel="stylesheet" href="css/vote.css">
</head>
<body>

   <header>
      <div id="header_inner">
         <div id="demo_title">
            <span>Vote</span>
         </div>
         <a class="navbar-brand" href="/">
            <img src="img/crossbar_icon_inverted.png" alt="crossbar logo inverted" width="60" height="60">
            <span class="fontFace">
               <span>Crossbar</span><span>.io</span>
            </span>
         </a>
      </div>
   </header>

   <div id="demo_body">
      <h1>
         Vote Demo Backend
      </h1>
      <p>
         Open console to view log output.
      </p>
   </div>

   <script>AUTOBAHN_DEBUG = true;</script>
   <script src="js/autobahn.min.js"></script>
   <script src="js/backend.js"></script>

</body>
</html>
