.wy-nav-content {
    max-width: 1050px;
}

/*
.wy-nav-side {
    width: 400px !important;
}

.wy-menu-vertical {
    width: 400px !important;
}

.wy-menu-vertical {
    width: 400px !important;
}
*/
