<!DOCTYPE html>
<html>
   <body>
      <h1>Call a remote procedure</h1>

      <span id="status">Not connected.</span>

      <script src="https://autobahn.s3.amazonaws.com/autobahnjs/latest/autobahn.min.jgz"></script>
      <script>

         var connection = new autobahn.Connection({
            url: 'ws://127.0.0.1:8080/ws',
            realm: 'realm1'}
         );

         connection.onopen = function (session) {

            var status = document.getElementById('status');

            status.innerHTML = 'Connected.';

            session.call('com.timeservice.now').then(
               function (now) {
                  status.innerHTML = now;
               },
               function (error) {
                  status.innerHTML = error;
               }
            );
         };

         connection.open();

         connection.onclose = function (reason, details) {
            console.log(reason, details);
         };
      </script>
   </body>
</html>
